<a href="https://colab.research.google.com/github/serialize02/2023final/blob/main/syntax_ipynb_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

문법: 반복과 조건 밖에 없음
for
in 뒤에 list가 나오면, list의 개수만큼 첫번째 것부터 돌린다고 생각하면 됨
<시험문제> 몇번 도냐 ? 4번

In [2]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

range 함수는 숫자열을 만들어주는 함수
len -> 길이라고 했으니까 a의 len 는 4
그럼 range(4)는 0123
그걸 print(a[i]) 0번째 1번째 2번째 3번째 뱉으라는 말

In [3]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [4]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

반복하는거 말고도 while이 있음

In [5]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

=는 assign한다는 의미, ==는 equal 의미
indentation (들여쓰기) 잊으면 안됨

In [6]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

1,2 / 3,4 -> 3,4,6,8

In [7]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [8]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [9]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [10]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'red': 1, 'green': 2, 'blue': 3, 'purple': 4}