<a href="https://colab.research.google.com/github/serialize02/2023final/blob/main/variables_ipynb_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

semicolon을 써야함 한줄로 할거
type은 이 변수가 갖고 있는 내용이 뭔가를 물어보는 것
-> int (정수)

In [ ]:
a=-1;print(type(a))

<class 'int'>

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

float: 실수, 1.0을 입력해도 실수라고 나옴

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

str -> string (문자열)
a[1] 이라고 하면 2번째 문자를 뱉어냄, 0부터 시작
```
# 코드로 형식 지정됨
```

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

변수 여러개가 들어가는 걸 list 라고 함
[] 대괄호를 쓰면 무조건 !! list 가 되는거임
그냥 쓰면 숫자, '' quote찍으면 string

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

=는 equal이 아니라 변수에 값을 assign 하는 거라고 생각해야 함

대괄호는 list 이므로 숫자와 문자를 같이 넣을 수 있음
여러개의 개체가 동시에 들어가 있는 덩어리다.
<시험문제>

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a= {"김철수": "01032583620"}
print(type(a))
print(a["김철수"])

<class 'dict'>
01032583620

dict -> dictional
정보 입력할 때는 중괄호를 씀

print 로 정보 출력할 때는 무조건 대괄호 씀