<a href="https://colab.research.google.com/github/serialize02/2023final/blob/main/W03_0322_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Week 3:
<br>
Python Fundamentals</h1>

<h2>Function</h2>

In [ ]:
# This is a comment

print("Hello!")

Hello!

print라는 명령어: 출력해달라 -> 함수
f(x) = print (입력값)

명령어 -> 컴퓨터에게 전송 -> interpreter이 번역 -> 컴퓨터가 화면에 hello 띄움

<h2>Operator</h2>

Special symbols that perform actions on data
데이터에게 특정 액션을 취하는 특수한 기호들

In [ ]:
print(1 + 2)

3

<h2>Variable</h2>
변수
* A named container that stores a value (== data)
* A nickname that points to a specific value (== data)
* Assignment operator (=) is used to assign a value (== data) to a variable

In [ ]:
a = "Hello!"
print(a)

Hello!

= assignment operator

변수를 재할당 reassignment하고 싶으면
a라는 컨테이너에 hello -> bye 재할당 하면 됨

In [ ]:
a = "Bye!"
print(a)

Bye!

## Data Types

<h3>Data type</h3>

Each piece of data has a specific type

In [ ]:
a = 1
b = "Hello!"
c = True
d = [1, 2, 3]
e = {"a": 1, "b": 2}

<h3>type()</h3>

A function that returns the data type

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>

### Number

In [ ]:
# Integer

a = 1
b = 0
c = -1

In [ ]:
# Floating-point number

a = 3.14159
b = 0.0
c = -3.14

실수
0 -> integer 정수
0.0 -> floating point numb 실수

#### Calculation

Arithmetic operators can be used for mathematical operations

In [ ]:
a = 5
b = 3

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division

8
2
15
1.6666666666666667

In [ ]:
print(a // b)  # Quotient 몫
print(a % b)   # Modulus 나머지
print(a ** b)  # Exponentiation 5의 3승

1
2
125

#### Comparison

Comparison operators can be used for comparing data

In [ ]:
# a = 5
# b = 3

print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b) # assignment operator 와 구분하기 위해서 양변의 값이 같은지를 물을 때는 ==을 사용
print(a != b) # 부등호 (등호의 반대)

True
False
True
False
False
True

#### Number: Exercise

1.

Your phone battery health is at 80% and you drain 10% while using a navigation app.
<br>
What percentage is remaining?

In [ ]:
#@title Answer

previous_battery = 80
used_battery = 10

print("remaining:", previous_battery - used_battery)

remaining: 70

2.

You're planning a garden and want to find the area.
<br>
The length is 7 meters and the width is 5 meters.

In [ ]:
#@title Answer

length = 7
width = 5

print("area (square meters):", length * width)

area (square meters): 35

3.

You're at a store and an item is originally priced at KRW 50,000.
<br>
There's a 10% discount.
<br>What's the final price?

In [ ]:
#@title Answer

price = 50000
discount = 0.1

print("price (KRW):", price * (1 - discount))

4.

You're traveling and see a temperature of 100 degrees Farenheit.
<br>
What's that in Celsius?
<br>
<br>
Formula: $C = \frac{5}{9}(F - 32)$

In [ ]:
#@title Answer

farenheit = 100
celsius = 5 / 9 * (farenheit - 32)

print("Celsius: ", celsius)

Celsius:  37.77777777777778

5.

Three students, A, B, and C, scored 85, 92, and 76 on their math exam, respectively.
<br>
What is the average score, and which students scored above it?

In [ ]:
#@title Answer

score_a = 85
score_b = 92
score_c = 76

average_score = (score_a + score_b + score_c) / 3

print("A's score is over average:", score_a > average_score)
print("B's score is over average:", score_b > average_score)
print("C's score is over average:", score_c > average_score)

A's score is over average: True
B's score is over average: True
C's score is over average: False

### Sequence

- An ordered collection of data
- Can access data by numbers (== index)

<h4>String</h4>

A sequence of characters that is used to represent text

In [ ]:
a = "Hello!"
b = 'Hello!'

따옴표는 상관 없음 -> 둘다 스트링으로 인정

<h4>List</h4>

A sequence of data of any type

In [ ]:
a = [1, 2, 3] # 자리에 순서는 있음
b = ["red", "green", "blue"]
c = [1, "red", True] # 데이터의 종류가 달라도 list가 가능

#### Concatenation & Repetition

Operators can be used for concatenating or repeating sequences

In [ ]:
a = "p"
b = "ython"

print(a + b)  # Concatenate 숫자가 들어갈 때는 더하기 기능, 문자열이 들어갈 떄는 이어주는 기능
print(a * 3)  # Repeat

python
ppp

In [ ]:
a = [1, 2]
b = [3, 4]

print(a + b)  # Concatenate
print(a * 3)  # Repeat

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]

#### Comparison

Comparison operators can be used for comparing data

In [ ]:

a = "Hello!"
b = "Hi!"

print(a == b)
print(a != b)

False
True

In [ ]:
a = [1, 2, 3, 4]
b = [2, 3, 4]

print(a == b)
print(a != b)

False
True

In [ ]:
# In fact, you can compare data of different types

a = "1"
b = 1

print(a == b)
print(a != b)

False
True

#### Accessing Element: Indexing

Indexing operator can be used for accessing an element in a sequence

- Each element's position in a sequence is specified by a number (== index)
- Starts from 0

|0|1|2|3|4|
|-|-|-|-|-|
|p|e|a|c|h|

In [ ]:
a = "peach"

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

p
e
a
c
h

[] index operator

|0|1|2|3|4|
|-|-|-|-|-|
|1|2|3|4|5|

In [ ]:
b = [1, 2, 3, 4, 5]

print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])

1
2
3
4
5

|-5|-4|-3|-2|-1|
|-|-|-|-|-|
|p|e|a|c|h|

In [ ]:
print(a[-5])
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])

마이너스 인덱스, 데이터를 쉽게 뽑고 싶을 때 뒤에서부터 음수 부호를 시작

|-5|-4|-3|-2|-1|
|-|-|-|-|-|
|1|2|3|4|5|

In [ ]:
print(b[-5])
print(b[-4])
print(b[-3])
print(b[-2])
print(b[-1])

1
2
3
4
5

#### Accessing Element: Slicing

Indexing operator can be used for accessing a range of elements in a sequence

|0|1|2|3|4|
|-|-|-|-|-|
|p|e|a|c|h|

<br>
<br>

|-5|-4|-3|-2|-1|
|-|-|-|-|-|
|p|e|a|c|h|

In [ ]:
print(a[2:4])

ac

In [ ]:
print(a[:2])  # Index 0 can be omitted

pe

In [ ]:
print(a[-2:])  # The last index can be omitted

ch

|0|1|2|3|4|
|-|-|-|-|-|
|1|2|3|4|5|

<br>
<br>

|-5|-4|-3|-2|-1|
|-|-|-|-|-|
|1|2|3|4|5|

In [ ]:
print(b[1:3])

[2, 3]

In [ ]:
print(b[2:])

[3, 4, 5]

In [ ]:
print(b[:-1])

[1, 2, 3, 4]

#### Updating Existing Element **(LIST ONLY)**

Indexing operator with assignment operator can be used for updating an element.

In [ ]:
b[-1] = 4
print(b)

[1, 2, 3, 4, 4]

In [ ]:
b[1:3] = [6, 7, 8]
print(b)

[1, 6, 7, 8, 4, 4]

#### Adding Elements **(LIST ONLY)**

List methods can be used for adding elements in a list

<h5>.append()</h5>

- A list method that adds an element to the end of a list

In [ ]:
a = [1, 2, 3, 4]

a.append(5)
print(a)

[1, 2, 3, 4, 5]

얘는 a가 진짜 바뀌는 것, replace 와 달리

<h5>.extend()</h5>

A list method that adds multiple elements to the end of a list

In [ ]:
a.extend([5, 6])
print(a)

[1, 2, 3, 4, 5, 5, 6]

#### Deleting Elements **(LIST ONLY)**

List method can be used for deleting elements in a list

<h5>.pop()</h5>

A list method that deletes and returns the last element from a list

In [ ]:
b = a.pop()

print(a)
print(b)

[1, 2, 3, 4, 5, 5]
6

a의 마지막 값을 b로 출력한 것

#### Others

There are other functions and methods that do some actions on sequences

<h5>len()</h5>

A function that returns the number of elements

In [ ]:
a = "python"
print(len(a))

6

In [ ]:
b = [1, 2, 3, 5, 7, 11, 13, 17]
print(len(b))

8

<h5>.replace() <strong>(STRING ONLY)</strong></h5>

A string method that returns a replaced string

In [ ]:
a = "Hello world!"
print(a)

a = a.replace("world", "python")
print(a)

Hello world!
Hello python!

replace 는 a를 직접 바꿔주는 것이 아니라 그냥 서로 다른 string 인 것
a를 진짜 바꾸려면 =로 할당해줘야

<h5>.split() <strong>(STRING ONLY)</strong></h5>

A string method that splits a string and returns a list of substrings

In [ ]:
a = "red green blue"
print(a.split(" "))

['red', 'green', 'blue']

스페이스를 기준으로 string을 잘라줘
데이터를 여러 개 한 번에 들고 있을 수 있는 것은 list이므로 쪼개진 string을 list 로 돌린다

#### Sequence: Exercise

1.

Combine these two names to create a fullname.
<br>
<br>
First Name: Alice
<br>
Last Name: Smith

In [1]:
#@title Answer

first_name = "Alice"
last_name = "Smith"

print("fullname:", first_name + " " + last_name)

fullname: Alice Smith

2.

Prove using "" and '' has no difference when creating a string.

In [2]:
#@title Answer

string_1 = "Hello"
string_2 = 'Hello'

print("no difference:", string_1 == string_2)

no difference: True

3.

Fix the typo in the following string.
<br>
<br>
"Ths sentence has a typo."

In [ ]:
#@title Answer

sentence = "Ths sentence has a typo."
correct_sentence = sentence.replace("Ths", "This")

print(correct_sentence)

4.

You have a phone number as a string and want to display it in a specific format (XXX-XXX-XXXX).
<br>
Use string slicing and concatenation to format the phone number.
<br>
<br>
Phone Number: 1234567890

In [3]:
#@title @Answer

number = "1234567890"
number_formatted = number[:3] + "-" + number[3:6] + "-" + number[6:]

print(number_formatted)

123-456-7890

5.

You have two guest lists for a party. Combine them to a single list.
<br>
<br>
Dinner Guests: Chloe, Mark
<br>
Party Guests: Charlie, Hanna

In [ ]:
#@title Answer

guests_1 = ["Chloe", "Mark"]
guests_2 = ["Charlie", "Hanna"]

print("guests:", guests_1 + guests_2)

list도 sequence, sequence를 합칠 때는 플러스 operator를 사용

6.

You want to add items to a shopping cart list.
<br>
Create an empty shopping cart list and then add new item strings ("Apples", "Breads", "Milk").

In [4]:
#@title Answer

cart = []
cart.extend(["Apples", "Breads", "Milk"])

print("cart:", cart)

cart: ['Apples', 'Breads', 'Milk']

일단 비어있는 list를 만들어놓고 필요한 아이들을 추가할 수 있음, 여러개를 넣으니까 extend를 활용

7.

You want to verify if your online store inventory is empty.

In [ ]:
online_store_inventory = []  # It is empty!

# Start from here!

In [ ]:
#@title Answer

online_store_inventory = []

# Answer 1
print("empty:", online_store_inventory == [])

# Answer 2
print("empty:", len(online_store_inventory) == 0)

8.

You want to remove the last played song from your playlist A and move it to another playlist B.
<br>
<br>
playlist A: Song 1, Song 2, Song 3
<br>
playlist B: Song 4

In [ ]:
#@title Answer

list_a = ["Song 1", "Song 2", "Song 3"]
list_b = ["Song 4"]

song = list_a.pop()
list_b.append(song)

print("playlist A:", list_a)
print("playlist B:", list_b)

9.

Count the number of words in the following string.
<br>
<br>
"Today is a beautiful day for a walk!"

In [ ]:
#@title Answer

sentence = "Today is a beautiful day for a walk!"
words = sentence.split(" ")

print("number of words:", len(words))

10.

Extract the month from a date string.
<br>
<br>
"2024-03-22"

In [5]:
#@title Answer

date = "2024-03-22"
split_date = date.split("-")

print("month:", split_date[1])

month: 03

다른 방법: slice-> print(date[5:7])

### Mapping: Dictionary

- A collection of key-value data pairs
- Can access data by keys

In [6]:
a = {"name": "Luna", "age": 20}

중괄호, 통상적으로 key 에는 string 을 사용

dictionary에는 순서가 없음, 인덱스가 존재하지 않음
value에 우리가 필요한 데이터를 저장하고 key에 지칭하는 쉬운 별명을 지어주는 것

#### Accessing Value

Operator can be used for accessing values with keys

In [7]:
print(a["name"])
print(a["age"])

Luna
20

#### Updating existing Value

Operators can be used for updating existing values

In [8]:
print(a)

a["name"] = "Jay"
print(a)

{'name': 'Luna', 'age': 20}
{'name': 'Jay', 'age': 20}

#### Adding Key & Value

Operators can be used for adding new keys and values

In [9]:
# Adding a key-value pair

a["is_student"] = True
print(a)

{'name': 'Jay', 'age': 20, 'is_student': True}

#### Others

There are other functions and methods that do some actions on dictionaries

<h5>.keys()</h5>

A dictionary method that returns the keys of a dictionary

In [10]:
print(a.keys())

dict_keys(['name', 'age', 'is_student'])

<h5>.values()</h5>

A dictionary method that returns the values of a dictionary

In [11]:
print(a.values())

dict_values(['Jay', 20, True])

<h5>.items()</h5>

A dictionary method that returns key-value pairs of a dictionary

In [12]:
print(a.items())

dict_items([('name', 'Jay'), ('age', 20), ('is_student', True)])

#### Mapping: Exercise

1.

Create a phonebook as a dictionary and access Emily's phone number.
<br>
<br>
Phonebook:
<br>

|name|phone number|
|-|-|
|Emily|123-456-7890|
|Bob|987-654-3210|

In [13]:
#@title Answer

phonebook = { "Emily": "123-456-7890", "Bob": "987-654-3210" }
print(phonebook["Emily"])

123-456-7890

2.

You have 2 apples and 1 banana in your shopping cart (dictionary).
<br>
You put one more apple to the cart.
<br>
What would the updated cart look like?

In [14]:
#@title Answer

# Answer 1
cart_1 = { "Apple": 2, "Banana": 1 }
cart_1["Apple"] = 3

print(cart_1)

# Answer 2
cart_2 = { "Apple": 2, "Banana": 1 }
cart_2["Apple"] += 1

print(cart_2)

{'Apple': 3, 'Banana': 1}
{'Apple': 3, 'Banana': 1}

3.

(Continued from 2.)
<br>
You add two avocados to the cart.
<br>
What would the cart look like?

In [ ]:
#@title Answer

cart_1["Avocado"] = 2  # Or you can use cart_2 variable from question 2
print(cart_1)

4.

You are managing a bookstore's inventory as a dictionary.
<br>
Each book is represented by a dictionary with the book's title as the key and the quantity available as the value.
<br>
Get all the book titles from the inventory.
<br>
<br>

|title|quantity|
|-|-|
|Python Programming|20|
|Data Science Handbook|15|
|Introduction to Algorithms|10|

In [ ]:
#@title Answer

inventory = { "Python Programming": 20, "Data Science Handbook": 15, "Introduction to Algorithms": 10 }
print(inventory.keys())

### Boolean

In [15]:
a = True
b = False

#### Comparison

Comparison operators can be used for comparing data

In [16]:
print(a == b)
print(a != b)

False
True

boolean끼리 비교해도 boolean 데이터 타입으로 나옴

#### Condition

Logical operators can be used for forming conditions

- `and`: returns `True` if two operands are both `True`
- `or`: returns `True` if at least one of the operands is `True`
- `not`: returns `true` if operand is `false` and vice versa

In [17]:
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

1. a도 참이고 b도 참
2. a랑 b 둘중에 하나만 참이면 됨
3,4. 반대의 값을 출력

#### Boolean: Exercise

1.

Chris is going to stay home if it is raining or snowing outside.
<br>
Check if Chris will stay home today.
<br>
<br>

|weather|status|
|-|-|
|rain|false|
|snow|true|

In [18]:
#@title Answer

is_raining = False
is_snowing = True

stay_home = is_raining or is_snowing
print("stay home:", stay_home)

stay home: True

2.

You can park in a parking lot if you have a small car and are a resident of an apartment.
<br>
Check if you can park your car there.
<br>
<br>

|condition|status|
|-|-|
|small car|true|
|resident|true|

In [ ]:
#@title Answer

has_small_car = True
is_resident = True

can_park = has_small_car and is_resident
print("can park:", can_park)

3.

Check if you have a task to complete using `not` operator.
<br>
<br>
task_completed = False

In [19]:
#@title Answer

task_completed = False
print("have a task:", not task_completed)

have a task: True

4.

You need to verify if a customer is over 18 and has a valid ID to purchase a product.
<br>
<br>
Customer
- 19 years old
- has no ID card

In [20]:
#@title Answer

age = 19
has_id_card = False

can_purchase = age > 18 and has_id_card
print("can_purchase:", can_purchase)

can_purchase: False

5.

Jane is 16 years old and is 153cm tall.
<br>
Check if Jane can ride a roller coaster.
<br>
<br>

To ride a roller coaster,
<br>
one should meet all of the following conditions:
1. over 150cm
2. over 15 years old

In [ ]:
#@title Answer

age = 16
height = 153

can_ride = age > 15 and height > 150
print("can ride:", can_ride)